{% extends 'base.html' %}
{% from "_macros/_pagination.html" import pager with context %}

{% block title %}Kanban{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <style>
        h1.page-title {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        table.content th {
            font-family: "Source Sans 3", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        table.content td {
            font-family: "Source Sans 3", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: medium;
        }
        .action-column {
            width: 5em;
        }

        .kanban.grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 3.67em auto;
            column-gap: 1em;
            row-gap: .67em;
            margin: 1em;
        }

        .kanban.grid h1 {
            font-size: 2em;
            font-weight: 700;
            text-align: center;
            margin: .36em 0;
        }

        .kanban.grid .lane.header {
            /* background-color:green; */
        }

        .kanban.grid .lane.body {
            /* background-color: aqua; */
            border-style: dashed;
            border-color: aquamarine;
            padding: .5em .5em 3em;
        }

        /* .kanban h1 {
            font-size: 16pt;
            font-weight: 700;
        }
        .kanban .col {
            background-color: aqua;
        } */

        .card {
            min-height: 234px;
            max-height: 234px;
        }

        section.page-header {
            margin: 0 1em;
        }

        /* .task.lane.body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 3.67em 1fr;
            column-gap: 1em;
        } */
        button.icon-only {
            padding:0;
        }

        ::backdrop {
            background-image: linear-gradient(
                45deg,
                green,
                rebeccapurple,
                dodgerblue,
                green
            );
            opacity: 0.75;
        }

        #addTaskDialog {
            color: gray;
            border-width: 8px;
            border-color: darkolivegreen;
            border-radius: 1em;
            border-style: solid;
            width: 35em;
        }

        #addTaskDialog h1 {
            margin: 0 0 1.36em;
            font-size: 2em;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

    </style>
{% endblock %}

{% block content %}

<div class="kanban grid">

    <div class="lane header">
        <h1 class="green-text">Tasks
            
        <button class="btn-flat icon-only green-text" type="button" title="Add task" id="addTaskButton">
            <i class="material-icons">add</i>
        </button>
        
        </h1>
    </div>

    

    <div class="lane header green">
        <h1 class="white-text">In progress</h1>
    </div>
    <div class="lane header green">
        <h1 class="white-text">Testing</h1>
    </div>
    <div class="lane header green">
        <h1 class="white-text">Done</h1>
    </div>

    <div class="lane header">
        <!-- <h1 class="white-text">Todo</h1> -->
    </div>
    

    <!-- lane bodies -->

    <div class="lane body droppable task">

        <div class="card blue-grey darken-1" draggable="true" id="cardx1">
            <div class="card-content white-text">
              <span class="card-title">Task One</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
        </div>

        <div class="card blue-grey darken-1" draggable="true" id="cardx2">
            <div class="card-content white-text">
              <span class="card-title">Task Two</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
        </div>

        <div class="card blue-grey darken-1" draggable="true" id="cardx3">
            <div class="card-content white-text">
              <span class="card-title">Task Three</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
        </div>

        <div class="card blue-grey darken-1" draggable="true" id="cardx4">
            <div class="card-content white-text">
              <span class="card-title">Task Four</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
        </div>
    </div>



    <div class="lane body droppable">
        
    </div>
    <div class="lane body droppable">
        
    </div>
    <div class="lane body droppable">
        
    </div>

    <div class="lane body">
        <div>Info about selected card (if any)</div>

    </div>
</div>


<dialog id="addTaskDialog">
    <section class="header">
        <h1>Add task</h1>
    </section>
    <section class="body">
        <div class="row">
            <div class="input-field s12">
                <input placeholder="Title for task" id="task_title" type="text" class="validate">
                <label for="task_title">Task title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field s12">
                <textarea id="task_description" placeholder="Title for task" class="materialize-textarea"></textarea>
                <label for="task_description">Task description</label>
            </div>
        </div>
        

    </section>
    <section class="footer right-align">
        <button id="closeDialogButton" class="btn-small green" >Close</button>
        <button id="saveNewTaskButton" class="btn-small green" >Save</button>
        <button id="clearContentTaskButton" class="btn-small green" >Clear</button>
    </section>
    
    
</dialog>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
    'use strict';
    const domParser = new DOMParser();

    function TaskApi() {
        // this.name = name;
        // this.age = age;
        this.getTasks = async function() {
            const url = "/kanban/api/tasks";
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const json = await response.json();
                console.log('getTasks result', json);
                return json.records;
            } catch (error) {
                console.error(error.message);
            }
        }

        this.saveTask = async function(task_title, task_description) {
            console.log('save task');
            const url = "/kanban/api/tasks";

            const requestHeaders = new Headers();
            requestHeaders.append("Content-Type", "application/json");

            try {
                const response = await fetch(url, {
                    method: 'POST', 
                    body: JSON.stringify({
                        task_title: task_title, 
                        task_description: task_description 
                    }), 
                    headers: requestHeaders
                });

                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const json = await response.json();
                console.log('received result', json);
            } catch (error) {
                console.error(error.message);
            }
        }
    }

    function KanbanBoard() {
        this.cardCounter = 1;
        this.self = this;

        this.makeCard = function(task_title, task_description, task_id) {

            // <div class="card blue-grey darken-1" draggable="true" id="card1">
            // 	<div class="card-content white-text">
            // 		<span class="card-title">Task One</span>
            // 		<p>I am a very simple card. I am good at containing small bits of information.
            // 		I am convenient because I require little markup to use effectively.</p>
            // 	</div>
            // </div>
            let newCard = document.createElement('div');
            newCard.classList.add('card', 'blue-grey', 'darken-1');
            newCard.draggable = true;
            newCard.id = `card${task_id}`;

            let cardContent = document.createElement('div');
            cardContent.classList.add('card-content', 'white-text')
            
            let cardTitle = document.createElement('span');
            cardTitle.classList.add('card-title');
            cardTitle.innerHTML = task_title;
            cardContent.appendChild(cardTitle);

            let cardDescription = document.createElement('p');
            cardDescription.innerHTML = task_description;
            cardContent.appendChild(cardDescription);

            //newCard.textContent = task_title;
            newCard.appendChild(cardContent);

            //newCard.addEventListener
            newCard.addEventListener("dragstart", cardDragStartHandler);

            return newCard;
        }

        this.loadTasks = async function() {
            console.log('Load tasks');
            let task_list = await taskApi.getTasks();
            this.update_task_lane(task_list);
        }

        this.update_task_lane = function(task_list) {
            let taskLaneBody = document.querySelector('.task.lane.body');
            //taskLaneBody.replaceChildren(); // clear
            task_list.forEach(function(ele, idx, arr) {
                let newCard = this.makeCard(ele.title, ele.description, ele.id);
                taskLaneBody.appendChild(newCard);
            }, this);
        }

    }

    const taskApi = new TaskApi();
    const kanbanBoard = new KanbanBoard();

    const addTaskDialog = document.getElementById('addTaskDialog');
    const closeDialogButton = document.getElementById('closeDialogButton');
    const saveNewTaskButton = document.getElementById('saveNewTaskButton');
    const clearContentTaskButton = document.getElementById('clearContentTaskButton');

    const dialog_task_title_field = document.getElementById('task_title');
    const dialog_task_description_field = document.getElementById('task_description');
    
    function cardDragStartHandler(ev) {
        ev.dataTransfer.setData("text/plain", ev.target.id);
        ev.dataTransfer.effectAllowed = "move";
    }

    function keyDownHandler(e) {
        console.debug("Key", e.key, "code", e.code, "CTRL", e.ctrlKey, "ALT", e.altKey);
        if (e.code === "Backslash" && e.ctrlKey) {
            event.preventDefault();
            addTaskDialog.showModal();
        }
    }

    function clearDialogValues(e) {
        dialog_task_title_field.value = "";
        dialog_task_description_field.value = "";
    }

    async function saveTask(e) {
        console.log('save task button clicked');
        await taskApi.saveTask(dialog_task_title_field.value, dialog_task_description_field.value);
    }

    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOMContentLoaded called');

        // DIALOG EVENTS

        closeDialogButton.addEventListener('click', () => {
            addTaskDialog.close();
        });

        clearContentTaskButton.addEventListener('click', clearDialogValues);
        saveNewTaskButton.addEventListener('click', saveTask);

        // PAGE LEVEL EVENTS

        document.addEventListener("keydown", keyDownHandler);

        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});

        addTaskButton.addEventListener('click', () => {
            addTaskDialog.showModal();
        });

        // Add dragstart event to draggable items
        let cardElements = document.querySelectorAll(".card");
        console.debug("Card elements count", cardElements.length);
        cardElements.forEach(function(cardElement, idx, nodeList) {
            cardElement.addEventListener("dragstart", cardDragStartHandler);
        });
        
        let droppableLaneElements = document.querySelectorAll(".lane.droppable");
        console.debug("droppableLaneElements count", droppableLaneElements.length);
        droppableLaneElements.forEach(function(laneElement, idx, nodeList) {
            laneElement.addEventListener("dragover", function(ev) {
                ev.preventDefault();
                console.log('dragging over');
            });

            laneElement.addEventListener("drop", function(ev) {
                
                ev.preventDefault();
                if (!ev.target.classList.contains('droppable')) return;

                // let html = ev.dataTransfer.getData("application/x-moz-node");
                // console.debug(html)
                // const doc1 = domParser.parseFromString(html, "text/html");
                // debugger;
                // ev.target.appendChild(html);
                const data = ev.dataTransfer.getData("text");
                ev.target.appendChild(document.getElementById(data));
                
                //el.appendChild(document.getElementById(data));

            });
        });

        kanbanBoard.loadTasks();
        


        // cardElements.addEventListener("dragstart", function(ev) {
        //     debugger;
        //     ev.dataTransfer.setData("text", ev.target.id);
        // });

        // if (generateAesKeyButton) generateAesKeyButton.addEventListener('click', callGenerateAesApi);
        // if (regenerateAesKeyButton) regenerateAesKeyButton.addEventListener('click', callRegenerateAesApi);
        // if (encryptTextButton) encryptTextButton.addEventListener('click', callEncryptTextApi);
        // if (decryptTextButton) decryptTextButton.addEventListener('click', callDecryptTextApi);
    });


</script>
{% endblock %}