
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - webapp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "_top_nav.html" %}

    {% block content %}{% endblock %}

    {% include "_page_footer.html" %}
    
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
