{% extends 'base.html' %}
{% from "_macros/_pagination.html" import pager with context %}

{% block title %}Issues{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <style>
        h1.page-title {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        table.content th {
            font-family: "Source Sans 3", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        table.content td {
            font-family: "Source Sans 3", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: medium;
        }
        .issue-title-column {
            width: 5em;
        }
        .issue-type-column {
            width: 5em;
        }
        .issue-priority-column {
            width: 5em;
        }
        .issue-status-column {
            width: 12em;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <a style="float:right;" href="{{ url_for('issues.register') }}" class="waves-effect waves-light green-text" title="Register new issue">
            <i class="material-icons right">add</i></a>
        <h1 class="page-title blue-grey-text">Issues</h1>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="search_term" class="autocomplete">
            <label for="search_term">Search</label>
        </div>
    </div>
    
    <div class="row">
        <table class="content">
            <thead>
              <tr>
                  <th class="">Title</th>
                  <th class="issue-type-column">Type</th>
                  <th class="issue-priority-column">Priority</th>
                  <th class="issue-status-column center-align">Status<br/>(Last update)</th>
              </tr>
            </thead>

            <tbody>
                {% for issue in issues %}
                <tr>
                    <td class="">
                        <a href="{{ url_for('issues.edit', id=issue['id']) }}" class="waves-effect waves-light"><i class="material-icons green-text">edit</i></a>
                        {{ issue['title'] }}
                    </td>
                    <td class="issue-type-column">{{ issue['issue_type'] }}</td>
                    <td class="issue-type-column">{{ issue['issue_priority'] }}</td>
                    <td class="issue-status-column center-align">{{ issue['issue_status'] }}<br/>({{ issue['update_ts'].strftime('%Y-%m-%d %H:%M:%S') }})</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col s6">
            {{ pager(page_number, total_record_count, 'issues.index', 10) }}
        </div>
        <div class="col s6 right-align">
            <a href="{{ url_for('issues.register') }}" class="waves-effect waves-light green btn"><i class="material-icons right">add</i>Register new issue</a>
        </div>
    </div>
    
    
</div>

{% endblock %}


{% block scripts %}
<script>
    'use strict';

    // let variables declaration
    // functions
    // constants

    let searchTermAutoComplete;

    function debounce(func, timeout = 300) {
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
    }

    const page = {
        tbody: document.querySelector('table').tBodies[0],
        pager: document.querySelector('ul.pagination'),
        pageSize : 10,
        updateRows : function(json) {
            console.log("Call updateRows");
            // document.getElementsByTagName('table')[0].replaceChildren(); // Clear
            // let table = document.querySelector('table');
            // let tbody = table.tBodies[0];
            // tbody.replaceChildren();
            page.tbody.replaceChildren();

            for (let record of json.records) {
                let row = page.tbody.insertRow();
                page.addTitleCell(row, record);
                page.addIssueTypeCell(row, record);
                page.addIssuePriorityCell(row, record);
                page.addIssueStatusCell(row, record);
            }
        },
        addTitleCell: function(row, record) {
            let cell = row.insertCell();

            // <a href="/issues/edit/25" class="waves-effect waves-light"><i class="material-icons green-text">edit</i></a>
            let icon = document.createElement('i');
            icon.classList.add('material-icons', 'green-text');
            icon.innerText = 'edit';

            let anchor = document.createElement('a');
            anchor.classList.add('waves-effect', 'waves-light');
            anchor.href = `/issues/edit/${record['id']}`;
            anchor.appendChild(icon);
            
            cell.appendChild(anchor);
            cell.append(record['title']);
            //cell.innerHTML = record['title'];
        },
        addIssueTypeCell: function(row, record) {
            let cell = row.insertCell();
            cell.innerHTML = record['issue_type'];
        },
        addIssuePriorityCell: function(row, record) {
            let cell = row.insertCell();
            cell.innerHTML = record['issue_priority'];
        },
        addIssueStatusCell: function(row, record) {
            let cell = row.insertCell();
            cell.classList.add('issue-status-column', 'center-align');
            cell.append(record['issue_status']);
            cell.appendChild(document.createElement('br'));
            cell.append(`(${record['update_ts'].replace('T',' ')})`);
            //debugger; //  { id: 21, update_ts: "2024-08-05T14:34:27", title: "Create a kanban tool", issue_type: "Feature", issue_status: "New", issue_priority: "Medium" }
        },
        addPreviousButton: function(pageNumber, pageCount, query) {
            // <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>

            let icon = document.createElement('i');
            icon.classList.add('material-icons', 'green-text');
            icon.innerText = 'chevron_left';

            let previousPageNumber = pageNumber > 1 ? pageNumber - 1 : pageNumber;
            let anchor = document.createElement('a');
            //anchor.href = `${query}&page=${previousPageNumber}`;
            if (pageNumber !== 1)
                anchor.onclick = () => page.goToPage(`${query}&page=${previousPageNumber}`);
            anchor.append(icon);

            let listItem = document.createElement('li');
            if (pageNumber == 1)
                listItem.classList.add('disabled');
            else
                listItem.classList.add('waves-effect');
            listItem.append(anchor);

            page.pager.appendChild(listItem);
        },
        addNextButton: function(pageNumber, pageCount, query) {
            // <li class="waves-effect"><a href="/issues/2"><i class="material-icons">chevron_right</i></a></li>

            let icon = document.createElement('i');
            icon.classList.add('material-icons', 'green-text');
            icon.innerText = 'chevron_right';

            let nextPageNumber = pageNumber;
            nextPageNumber = pageNumber < pageCount ? nextPageNumber = pageNumber + 1 : pageNumber;
            let anchor = document.createElement('a');
            //anchor.href = `${query}&page=${nextPageNumber}`;
            if (pageNumber < pageCount)
                anchor.onclick = () => page.goToPage(`${query}&page=${nextPageNumber}`);
            anchor.append(icon);

            let listItem = document.createElement('li');
            if (pageNumber >= pageCount)
                listItem.classList.add('disabled');
            else
                listItem.classList.add('waves-effect');
            listItem.append(anchor);

            page.pager.appendChild(listItem);
        },
        addPageLinks: function(pageNumber, pageCount, query) {
            // <li class="active green"><a href="/issues/1">1</a></li>
            // <li><a href="/issues/2">2</a></li>

            for (let i = 1; i <= pageCount; i++) {

                let anchor = document.createElement('a');
                // if (pageNumber !== i) 
                //     anchor.href = `${query}&page=${i}`;
                anchor.onclick = () => page.goToPage(`${query}&page=${i}`);
                anchor.append(i);

                let listItem = document.createElement('li');
                if (pageNumber === i)
                    listItem.classList.add('active', 'green');
                else 
                    listItem.classList.add('waves-effect');
                
                listItem.append(anchor);
                page.pager.appendChild(listItem);
            }

        },
        goToPage: async function(query) {
            console.log('goto page function called: ' + query);
            await fetchSearch(query);
        },
        updatePaginator: function(json, query) {
            page.pager.replaceChildren();

            // Some math to calculate total page numbers
            let part_page_count = (json.total_record_count % page.pageSize) == 0 ? 0 : 1;
            let page_count = Math.floor(json.total_record_count / page.pageSize) + part_page_count;

            page.addPreviousButton(json.page, page_count, query);
            page.addPageLinks(json.page, page_count, query);
            page.addNextButton(json.page, page_count, query);
        }

    };

    const searchTermTextInput = document.getElementById('search_term');

    async function fetchSearch(query) {
        console.log("call api fetchSearch");

        let searchApiUrl = `/issues/api/search?query=${encodeURIComponent(searchTermTextInput.value)}`;
        const requestHeaders = new Headers();
        requestHeaders.append("Content-Type", "application/json");

        const response = await fetch(query ?? searchApiUrl, {
            method: "GET",
            headers: requestHeaders,
        });

        if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
        }
        
        const json = await response.json();
        page.updateRows(json);
        page.updatePaginator(json, searchApiUrl);
    }

    document.addEventListener('DOMContentLoaded', function() {;
        searchTermTextInput.addEventListener('keyup', debounce(async () => fetchSearch()));
        searchTermAutoComplete = M.Autocomplete.init(searchTermTextInput, {});    
    });


    // obsolete use/see fetchSearch
    // Keep for reference
    const xxxfetchSearchResults = debounce(async () => {
        // 1. Call api
        // 2. 
        console.log("call api");

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const response = await fetch(`/issues/api/search?query=${encodeURIComponent(searchTermTextInput.value)}`, {
            method: "GET",
            // body: JSON.stringify({ username: "example" }),
            headers: myHeaders,
        });

        if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
        }

        const json = await response.json();
        console.log(json);
        page.updateRows(json);
        page.updatePaginator(json, `/issues/api/search?query=${encodeURIComponent(searchTermTextInput.value)}`);
        
        // Update rows
        // Update pager

        // searchTermAutoComplete.updateData({
        //     "Apple": null,
        //     "Microsoft": null,
        //     "Google": 'https://placehold.it/250x250'
        // });
    });

</script>
{% endblock %}