{% extends 'base.html' %}
{% from "_macros/_pagination.html" import pager with context %}

{% block title %}Issues{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <style>
        h1.page-title {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        table.content th {
            font-family: "Source Sans 3", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        table.content td {
            font-family: "Source Sans 3", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: medium;
        }
        .issue-title-column {
            width: 5em;
        }
        .issue-type-column {
            width: 5em;
        }
        .issue-priority-column {
            width: 5em;
        }
        .issue-status-column {
            width: 12em;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="page-title blue-grey-text">Issues</h1>    
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="search_term" class="autocomplete">
            <label for="search_term">Search</label>
        </div>
    </div>
    
    <div class="row">
        <table class="content">
            <thead>
              <tr>
                  <th class="">Title</th>
                  <th class="issue-type-column">Type</th>
                  <th class="issue-priority-column">Priority</th>
                  <th class="issue-status-column center-align">Status<br/>(Last update)</th>
              </tr>
            </thead>

            <tbody>
                {% for issue in issues %}
                <tr>
                    <td class="">
                        <a href="{{ url_for('issues.edit', id=issue['id']) }}" class="waves-effect waves-light"><i class="material-icons green-text">edit</i></a>
                        {{ issue['title'] }}
                    </td>
                    <td class="issue-type-column">{{ issue['issue_type'] }}</td>
                    <td class="issue-type-column">{{ issue['issue_priority'] }}</td>
                    <td class="issue-status-column center-align">{{ issue['issue_status'] }}<br/>({{ issue['update_ts'].strftime('%Y-%m-%d %H:%M:%S') }})</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col s6">
            {{ pager(page_number, total_record_count, 'issues.index', 10) }}
        </div>
        <div class="col s6 right-align">
            <a href="{{ url_for('issues.register') }}" class="waves-effect waves-light green btn"><i class="material-icons right">add</i>Register new issue</a>
        </div>
    </div>
    
    
</div>

{% endblock %}


{% block scripts %}
<script>
    'use strict';

    // let variables declaration
    // functions
    // constants

    let searchTermAutoComplete;

    function debounce(func, timeout = 300) {
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
    }

    const searchTermTextInput = document.getElementById('search_term');

    const fetchSearchResults = debounce(async () => {
        // 1. Call api
        // 2. 
        console.log("call api");

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const response = await fetch("/issues/api/search?query=kanban", {
            method: "GET",
            // body: JSON.stringify({ username: "example" }),
            headers: myHeaders,
        });

        if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
        }

        const json = await response.json();
        console.log(json);


        searchTermAutoComplete.updateData({
            "Apple": null,
            "Microsoft": null,
            "Google": 'https://placehold.it/250x250'
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        searchTermTextInput.addEventListener('keyup', fetchSearchResults);
        searchTermAutoComplete = M.Autocomplete.init(searchTermTextInput, {});    
    });

</script>
{% endblock %}