{% extends 'base.html' %}

{% block title %}Register issue{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <style>
        h1.page-title {
            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 3em;
            margin: 20px 0 0;
        }
        
        form {
            font-family: "Inter Tight", sans-serif;
        }
        
        #issue_description {
            height: 10em;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:1em;">
    
    <div class="row">
        <div class="col s12">
            <h1 class="page-title">Register issue</h1>
        </div>
    </div>
    
    <form method="post">
        
        <div class="row">

            <div class="input-field col s3">
                <select name="issue_type">
                  <option value="" disabled selected>Choose your option</option>
                  {% for issue_type in issue_types %}
                  <option value="{{ issue_type['id'] }}">{{ issue_type['title'] }}</option>
                  {% endfor %}
                </select>
                <label>Issue type</label>
            </div>

            <div class="input-field col s3">
                <select name="issue_priority">
                  <option value="" disabled selected>Choose your option</option>
                  {% for issue_priority in issue_priorities %}
                  <option value="{{ issue_priority['id'] }}">{{ issue_priority['title'] }}</option>
                  {% endfor %}
                </select>
                <label>Issue priority</label>
            </div>

        </div>
        
        <div class="row">
            <div class="input-field col s8">
                <input placeholder="Issue title" id="issue_title" type="text" class="validate" name="issue_title" />
                <label for="issue_title">Issue title</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s8">
                <textarea id="issue_description" name="issue_description" class="materialize-textarea"></textarea>
                <label for="issue_description">Issue description</label>
            </div>
        </div>
        
        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light green" type="submit" name="action" value="Register">Register
                  <i class="material-icons right">save</i>
                </button>
            </div>
        </div>

    </form>


    <div class="row">
        <div class="col s6">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    'use strict';
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
  });
</script>
{% endblock %}
