{% extends 'base.html' %}

{% block title %}UUID Tool{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <style>
        h1.page-title {
            font-family: "Anton", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        span.card-title {
            font-family: "Anton", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        div.card-content,div.card-action {
            font-family: "Source Sans 3", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: medium;
        }
        div.card-content {
            min-height: 10.5em;
            max-height: 10.5em;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #4CAF50 #546e7a;
        }
        code.uuid {
            background-color: green;
            color: white;
            padding: .67em;
            border-radius: .6em;
        }
        button.copy {
            padding: 0;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="page-title">UUID tool</h1>
            
            <p>Generates a complete random UUID (UUID-4)</p>
        </div>
    </div>
    
    <!--
    <div class="row">
        <p>display cards for each FD here</p>
    </div>
    -->
    
    <form method="POST" enctype="multipart/form-data">
        
        <div class="row">
            <div class="col s12">
                <button class="btn-flat waves-effect waves-light green white-text" type="submit" name="action" value="Generate">Generate UUID
                    <i class="material-icons right">refresh</i>
                </button>
            </div>
        </div>
    
        <div class="row">
            <div class="col s6">
                <br />
                {% if new_uuid %}
                <code class="uuid">{{ new_uuid }}</code>
                
                <button type="button" class="btn-flat copy" type="submit" onclick="copyToClipboard()" title="Copy to clipboard">
                    <i class="material-icons right">content_copy</i>
                </button>
                {% endif %}
                <!--
                4594f0af-8e50-4d7a-869a-a916e669400e
                <div class="file-field input-field">
                    <div class="btn green">
                        <span>Files</span>
                        <input type="file" name="uploadedFiles" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
                -->
                
            </div>
        </div>
        

    </form>
</div>

{% endblock %}


{% block scripts %}
<script>
    'use strict';
    function copyToClipboard() {
        navigator.clipboard.writeText(document.querySelector('code.uuid').textContent);
    }
    
</script>
{% endblock %}
