{% extends 'base.html' %}

{% block title %}New note{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
    <style>
        h1.page-title {
          font-family: "Playfair Display", serif;
          font-optical-sizing: auto;
          font-weight: 700;
          font-style: normal;
        }
        
        #note_title {
            font-family: "Boogaloo", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.67em;
        }
        
        #note_content {
            min-height: 14em;
            font-family: "Boogaloo", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.67em;
        }
        
        nav.breadcrumbs {
            background: none;
            box-shadow: none;
        }
        nav.breadcrumbs .breadcrumb {
            font-family: "Playfair Display", serif;
            color: rgba(0,0,0,1)
        }
        nav.breadcrumbs .breadcrumb:before {
            color: rgba(0,0,0,0.7)
        }
        
    </style>
{% endblock %}

{% block content %}
            
            
<div class="container" style="margin-top:1em;">
    <nav class="breadcrumbs">
        <div class="col s12">
            <a class="breadcrumb">Notes</a>
            <a class="breadcrumb">Add new note</a>
        </div>
    </nav>

<!--
    <div class="row">
        <div class="col s12">
            <h1 class="page-title">Notes</h1>    
        </div>
    </div>
-->
    <form method="post">
        
        <div class="row">
            <div class="input-field col s10">
                <input placeholder="Note title" id="note_title" type="text" class="validate" name="note_title" />
                <label for="note_title">Title</label>
            </div>

        </div>
        
        <div class="row">
            <div class="input-field col s10">
                <textarea id="note_content" name="note_content" class="materialize-textarea"></textarea>
                <label for="note_content">Note content (markdown)</label>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light green" type="submit" name="action" value="Save note">Save note
                  <i class="material-icons right">save</i>
                </button>
            </div>
        </div>

    </form>


    <div class="row">
        <div class="col s6">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
