{% extends 'base.html' %}
{% from "_macros/_pagination.html" import pager with context %}

{% block title %}Notes{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <style>
        h1.page-title {
          /* font-family: "Comic Neue", cursive; */
          font-family: "Boogaloo", sans-serif;
          font-optical-sizing: auto;
          font-weight: 700;
          font-style: normal;
          font-size: 3.67em;
        }

        .note {
            font-family: "Boogaloo", sans-serif;
            font-size: 1.67em !important;
        }
        .note .title {
            font-family: "Boogaloo", sans-serif;
            font-weight: 500;
        }

        .note p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-height: 2.46em;
        }
        #search_term {
            font-family: "Boogaloo", sans-serif;
            font-size: 1.67em !important;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="page-title green-text text-darken-2">Notes</h1>    
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="search_term" class="autocomplete">
            <label for="search_term">Search</label>
        </div>
    </div>
    
    <div class="row">
        
        <ul class="collection">
            
        {% for note in notes %}
            <li class="collection-item note">
                <!--
                <i class="material-icons circle green">note</i>
                -->
                <a href="{{ url_for('notes.view',id=note['id']) }}" class="title green-text text-darken-2">{{ note['title'] }}</a>
                
                <!--
                <div>
                    <div class="chip">Urgent <i class="close material-icons">close</i></div>
                    <div class="chip">Task <i class="close material-icons">close</i></div>
                </div>
                -->
                
                <!--
                <p>{{ note['content'].split('\n')|join('<br/>'|safe) }}</p>
                -->
                <span class="secondary-content">
                    <a href="{{ url_for('notes.edit',id=note['id']) }}"><i class="material-icons green-text">edit</i></a>
                    <a href="#!"><i class="material-icons green-text">grade</i></a>
                </span>
            </li>
        {% endfor %}
        
        </ul>
        
    </div>
    
    <div class="row">
        <div class="col s6">
            {{ pager(page_number, total_record_count, 'notes.index', 10) }}
        </div>
        
        <div class="col s6 right-align">
            <a href="{{ url_for('notes.create') }}" class="waves-effect waves-light green btn">
                <i class="material-icons right">add</i>Add new note</a>
        </div>
    </div>
    
</div>

{% endblock %}
