{% extends 'base.html' %}

{% block title %}Notes{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <style>
        h1.page-title {
          font-family: "Playfair Display", serif;
          font-optical-sizing: auto;
          font-weight: 700;
          font-style: normal;
        }

        .note .title {
            font-family: "Playfair Display", serif;
            font-size: 1.26em !important;
            font-weight: 500;
        }
        .note p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-height: 2.46em;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        
        <div class="col s12">
            <h1 class="page-title">Notes</h1>    
        </div>
    </div>
    
    <div class="row">
        
        <ul class="collection">
            
        {% for note in notes %}
            <li class="collection-item note">
                <!--
                <i class="material-icons circle green">note</i>
                -->
                <a href="{{ url_for('notes.view',id=note['id']) }}" class="title">{{ note['title'] }}</a>
                
                <!--
                <div>
                    <div class="chip">Urgent <i class="close material-icons">close</i></div>
                    <div class="chip">Task <i class="close material-icons">close</i></div>
                </div>
                -->
                
                <!--
                <p>{{ note['content'].split('\n')|join('<br/>'|safe) }}</p>
                -->
                <span class="secondary-content">
                    <a href="{{ url_for('notes.edit',id=note['id']) }}"><i class="material-icons">edit</i></a>
                    <a href="#!"><i class="material-icons">grade</i></a>
                </span>
            </li>
        {% endfor %}
        
        </ul>
        
    </div>
    
    <div class="row">
        <div class="col s6">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active green"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
        
        <div class="col s6 right-align">
            <a href="{{ url_for('notes.create') }}" class="waves-effect waves-light green btn">
                <i class="material-icons right">add</i>Add new note</a>
        </div>
    </div>
    
</div>

{% endblock %}
