{% extends 'base.html' %}

{% block title %}Ultraviolet Index (SG){% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <style>
        h1.page-title {
            font-family: "Anton", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        span.card-title {
            font-family: "Anton", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        div.card-content,div.card-action {
            font-family: "Source Sans 3", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: medium;
        }
        div.card-content {
            min-height: 10.5em;
            max-height: 10.5em;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #4CAF50 #546e7a;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="page-title">Ultraviolet Index (SG)</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col s8">
            <!-- 
            {% for record in records %}
            <p>{{record}}</p>
            {% endfor %}
            -->
            
            <table>
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ record['hour'] }}</td>
                        <td>{{ record['value'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            
        </div>
        <div class="col s4">
            <h4>Ultraviolet index guide</h3>
            
            <table>
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>0-2</td><td>Low</td></tr>
                    <tr><td>3-5</td><td>Moderate</td></tr>
                    <tr><td>6-7</td><td>High</td></tr>
                    <tr><td>8-10</td><td>Very high</td></tr>
                    <tr><td>11+</td><td>Extreme</td></tr>
                </tbody>
                
            </table>
            
            
            <hr />
            
            <h5>Links</h5>
            <a href="https://en.wikipedia.org/wiki/Ultraviolet_index">Ultraviolet index - Wikipedia</a>
        </div>
        
    </div>
    
    
    
    <form method="POST" enctype="multipart/form-data">
        
        
        <!--
        <div class="row">
            <div class="col s4">
                
                <div class="file-field input-field">
                    <div class="btn green">
                        <span>Files</span>
                        <input type="file" name="uploadedFiles" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
                
            </div>
        </div>
        -->
        
        <!--
        <div class="row">
            <div class="col s12">
                <button class="btn-flat waves-effect waves-light green white-text" type="submit" name="action" value="Register">Upload
                    <i class="material-icons right">upload_file</i>
                </button>
            </div>
        </div>
        -->
    
    </form>
</div>

{% endblock %}
