{% extends 'base.html' %}
{% from "_macros/_pagination.html" import pager with context %}

{% block title %}Roles{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <style>
        h1.page-title {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        table.content th {
            font-family: "Source Sans 3", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        table.content td {
            font-family: "Source Sans 3", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: medium;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        
        <div class="col s12">
            <h1 class="page-title blue-grey-text">Roles</h1>    
        </div>
    </div>
    
    <div class="row">
        <table class="content">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  
              </tr>
            </thead>

            <tbody>
                {% for role in records %}
                <tr>
                    <td>
                        <a href="{{ url_for('roles.edit', id=role['id']) }}" title="Edit &quot;{{ role['name'] }}&quot; role" class="waves-effect waves-light btn-flat green white-text"><i class="material-icons">edit</i></a>
                        <a href="{{ url_for('roles.members', id=role['id']) }}" title="View members of &quot;{{ role['name'] }}&quot; role" class="waves-effect waves-light btn-flat green white-text"><i class="material-icons">list</i></a>
                        {{ role['name'] }}
                    </td>
                    <td>{{ role['description'] if role['description'] is not none }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col s6">
            {{ pager(page_number, total_record_count, 'roles.index', 10) }}
        </div>
        <div class="col s6 right-align">
            <a href="{{ url_for('roles.register') }}" class="waves-effect waves-light green btn"><i class="material-icons right">add</i>Register new role</a>
        </div>
    </div>
    
    
</div>

{% endblock %}
