{% extends 'base.html' %}
{% from "_macros/_pagination.html" import pager with context %}

{% block title %}Members{% endblock %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <style>
        h1.page-title {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        table.content th {
            font-family: "Source Sans 3", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        table.content td {
            font-family: "Source Sans 3", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: medium;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        
        <div class="col s12">
            <h1 class="page-title blue-grey-text">Members of {{ role['name'] }} role</h1>    
        </div>
    </div>
    
    <div class="row">
            
        <table class="content">
            <thead>
              <tr>
                  <th>Name</th>
              </tr>
            </thead>

            <tbody>
                {% for role in records %}
                <tr>
                    <td>
                        <!-- 
                        <a href="{{ url_for('roles.edit', id=role['id']) }}" title="Remove &quot;{{ role['username'] }}&quot; from this role" class="waves-effect waves-light btn-flat green white-text"><i class="material-icons">remove</i></a>
                        -->
                        {{ role['username'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>


    <div class="row">
        <div class="col s6">
            {{ pager(page_number, total_record_count, 'roles.members', 10, role['id']) }}
        </div>
        <div class="col s6 right-align">
            <a href="{{ url_for('roles.remove_member', id=role['id']) }}" class="waves-effect waves-light green btn"><i class="material-icons right">remove</i>Remove member from role</a>
            <a href="{{ url_for('roles.add_member', id=role['id']) }}" class="waves-effect waves-light green btn"><i class="material-icons right">add</i>Add member to role</a>
        </div>
    </div>

    
</div>

{% endblock %}
